

  <div class="jumbotron">
    <h1>Choose your path <h1>

    </div>


    <a href="surveys" class="btn btn btn-success">Designer</a>

  <hr>
  </br>

    <a href="participant" class="btn btn btn-primary">Participant</a>
